parameters:
	level: 9
	paths:
		- src
		- tests/src
	bootstrapFiles:
		- tests/bootstrap.php
	scanFiles:
		- vendor/drupal/core/includes/common.inc
		- vendor/drupal/core/includes/theme.inc
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
