parameters:
	level: 9
	paths:
		- src
		- tests/src
	bootstrapFiles:
		- tests/bootstrap.php
	drupal:
		drupal_root: '%currentWorkingDirectory%/vendor/drupal'
	ignoreErrors:
		- "#^Class .* extends @internal class#"
	scanDirectories:
		- vendor/drupal/core/modules/node/src
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
