parameters:
	level: 9
	paths:
		- src
		- tests/src
	bootstrapFiles:
		- tests/bootstrap.php
	ignoreErrors:
		- "#^Class .* extends @internal class#"
includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
	- phpstan-baseline.neon
