name: CI
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**.md'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: gd
          coverage: none
          tools: composer:v2

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist
      - name: Composer validate
        run: composer validate --strict
      - name: Composer normalize
        run: composer normalize --dry-run
      - name: PHPCS
        run: php vendor/bin/phpcs --report=checkstyle
  static:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: gd
          coverage: none
          tools: composer:v2
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist
      - name: PHPStan
        run: php vendor/bin/phpstan analyze
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          extensions: gd
          coverage: none
          tools: composer:v2
      - name: Install dependencies
        run: composer install --no-progress --prefer-dist
      - name: phpunit
        run: php vendor/bin/phpunit
